.appWrapper {
  background-image: url("../resources/images/appBg.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-rows: max-content auto max-content;
  grid-template-columns: max-content auto;
  overflow: hidden;
}

.appHeader {
  grid-area: header;
}

.appMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -30vh;
  grid-area: menu;
  width: 12rem;
  padding: 1.5rem;
}

.appContent {
  grid-area: content;
  overflow-y: scroll;
  overflow-x: hidden;
}

.appFooter {
  grid-area: footer;
  width: 100%;
}
