/* Header */

.logo {
  cursor: pointer;
}

.header {
}

.user-dropdown {
  cursor: pointer;
}

.user-dropdown > * {
  margin-right: 0.5rem;
}

.dropdown-menu {
  width: 20rem;
}

.divider {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

/* Footer */
.footer {
  text-align: center;
  padding: 0.5em;
}
/* Menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  text-align: center;
}

.nav-item-custom {
  text-align: right;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
  color: #555;
}

.nav-active {
  font-weight: bold;
}
