/* Header */
.appName {
  float: left;
  cursor: pointer;
}

.userName {
  clear: both;
  position: absolute;
  margin-right: 0;
}

.logoImage {
  width: 2rem;
  height: 2rem;
}

.userImage {
  width: 75px;
  height: 75px;
}

/* Footer */
.footer {
  background-color: gray;
  text-align: center;
  position: absolute;
  bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
/* Menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  text-align: center;
}

.navItem {
  display: block;
}

.header {
  background-color: #eee;
}

.logo {
  cursor: pointer;
}
