.wrapper {
  text-align: left;
  height: 100vh;
  width: 100vw;
  background-image: url("../../Resources/Images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 50em 5em #000;
  color: white;
}

h1 {
  font-size: 72px;
}

.wrapper-container > * {
  margin-bottom: 5rem;
}

.button-wrapper > * {
  margin-right: 1rem;
}
