.note-page {
  margin: 3rem;
}

.note-wrapper {
  display: grid;
  grid-template-areas: "noteOptions noteContent ";
  grid-template-columns: max-content auto;
}

.note-options {
  grid-area: noteOptions;
  border-right: 1px solid #ddd;
  padding-right: 3rem;
}

.note-content {
  grid-area: noteContent;
  margin: 0 3rem;
}

.note-filters {
  border-radius: 0.3em;
  background-color: rgb(218, 255, 131);
}

input[type="checkbox"] {
  width: 1.2em;
  height: 1.2em;
}
