/* Header */
.appName {
  float: left;
  cursor: pointer;
}
.userName {
  float: right;
}

.logoImage {
  float: left;
  width: 2rem;
  height: 2rem;
}

.userImage {
  width: 75px;
  height: 75px;
}

/* Footer */

/* Menu */
.navItem {
  display: block;
}
