.notes-content-card {
  background-color: #fcf4a3;
  border-radius: 1rem;
  padding: 1rem;
}

.note-item {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
}
