.introduction {
    background-color: aqua;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

.calendar{
    background-color: blueviolet;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

.todayList{
    background-color: rgb(228, 46, 46);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    height: 100%;

}

.cardBox {
    display: block;
}

.cardStyle {
    padding: 0.5em;
    margin: 1em;
}
.cardText {
    display: flex;
}