.introduction {
    background-color: aquamarine;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

.expense {
    background-color: pink;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

.todayList{
    background-color: azure;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    height: 100%;

}

.cardBox {
    display: block;
}

.cardStyle {
    padding: 0.5em;
    margin: 1em;
}
.cardText {
    display: flex;
}